.cardsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  flex-direction: initial;
  flex-wrap: wrap;
}

.Card {
  padding-bottom: 5px;
  background-color: rgb(182, 177, 252);
  border-radius: 2px;
  border: 1px solid gray;
  margin-bottom: 3px;
  margin-right: 3px;
  display: flex;
}

.SearchBarContainer {
  margin-bottom: 10px;
  width: -webkit-fill-available;
  justify-content: center;
  width: 90vw;
  background-color: white;
  margin: auto;
}

.MapContainer {
  display: flex;
  margin: auto;
  justify-content: space-around;
  width: 95vw;
}

@media (min-width: 700px) {
  .SearchBarContainer {
    position: sticky;
    top: 0px;
    z-index: 4;
  }
}

.ShowDateRangeFilter {
  display: flex;
  margin: auto;
  flex-direction: row;
  justify-content: center;
}

.IncidencesList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  justify-items: center;
}

.IncidencesList__title {
  display: flex;
  margin: auto;
  margin-bottom: 5px;
  margin-top: 5px;
  justify-items: center;
  justify-content: center;
}

.Card__Compass {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.Card__Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}
